/*Police*/
@font-face{
    font-family: 'HPSimplified_Bd';
    src: url('polices/HPSimplified_Bd.ttf');
}
@font-face{
    font-family: 'HPSimplified_Bdlt';
    src: url('polices/HPSimplified_Bdlt.ttf');
}
@font-face{
    font-family: 'HPSimplified_It';
    src: url('polices/HPSimplified_It.ttf')
}
@font-face{
    font-family: 'HPSimplified_Lt';
    src: url('polices/HPSimplified_Lt.ttf');
}
@font-face{
    font-family: 'HPSimplified_LtIt';
    src: url('polices/HPSimplified_LtIt.ttf');
}
@font-face{
    font-family: 'HPSimplified_Rg';
    src: url('polices/HPSimplified_Rg.ttf');
}

/*Page complète*/
.bloc_page{
    width: 100%;
    max-width: 90%;
    margin: auto;
    background-color: #E8D0CC;
}

/*Header*/
header{
    text-align: center;
    margin-bottom: -40px;
    margin-top: 30px;
}
.nav_index{
    border-bottom: solid 15px #7f4c41;
    border-top: solid 15px #7f4c41;
    padding: 10px 0 10px 0;
}
.nav_index ul{
    margin-left: -34px;
}
.nav_index li{
    display: inline-block;
    list-style-type: none;
    margin: 10px 1vw 10px 1vw;
    padding-left: 59px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'HPSimplified_Rg';
    font-size: 20px;
    border-left: solid 3px #746866;
    background-repeat: no-repeat;
    background-size: 60px;
}
#index_img{
    background-image: url(images/prise_1.jpg);
}
#histoire_img{
    background-image: url(images/prise_2.jpg);
}
#actu_img{
    background-image: url(images/prise_3.jpg);
}
#contact_img{
    background-image: url(images/prise_4.jpg);
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: none;
    color: black;
}
#logo_asso{
    width: 230px;
    margin: 17px 13px 0 13px;
    vertical-align: middle;
}
#logo_asso_mob{
    display: none;
}

@media(max-width: 980px){
    #logo_asso{
        display: none;
    }
    #logo_asso_mob{
        display: inline;
        width: 230px;
        margin-bottom: -10px;
    }
    header{
        border-top: solid 15px #7f4c41;
    }
    .nav_index li{
        background-image: none;
        display: inline-block;
    }
}

/*Section*/
section{
     font-weight: normal;
     margin: 80px 8px 80px 8px;
}

section h1{
    text-align: center;
    font-family: 'HPSimplified_Rg';
    font-weight: normal;
    font-size: 25px;
    margin-top: 70px;
}
section h2{
    margin-bottom: -15px;
    margin-top: 30px;
    font-family: 'HPSimplified_Rg';
    font-size: 17px;
    font-weight: 900;
}
#horaire{
    margin-top: 25px;
    margin-bottom: 10px;
}
section h3{
    margin-bottom: -13px;
    margin-top: 80px;
    font-family: 'HPSimplified_Rg';
    font-size: 30px;
    font-weight: 300;
    text-align: center;
}
section p{
    font-family: 'HPSimplified_Lt';
    text-align: justify;
    line-height: 18px;
    /*Propriété ci dessous prise en charge uniquement sur IE et FireFox*/
    text-align-last: center;
    -moz-text-align-last: center;
}
#photo_acceuil{
    width: 400px;
    float: left;
    margin: 0 20px 20px 0;
}
#respons1{
    clear: both;
}
.img_text{
    width: 200px;
    max-width: 700px;
    border-radius: 30px;
    margin: 10px;
}
#img_mur{
    float: left;
}
#img_falaise, #dentelles{
    float: right;
}
#test, #test2{
    width: 400px;
    display: inline-block;
    
}
#test3{
    display: block;
    background-color: red;
    width: 810px;
    margin: auto;
}
strong{
    text-align: center;
    display: block;
    font-family: 'HPSimplified_Rg';
    font-size: 25px;
    line-height: 35px;
    margin: 50px auto;
    padding: 30px;
    border-top: 5px solid #746866;
    border-bottom: 5px solid #746866;
}
.point_gris {
    text-align: center;
}

.point_gris img{
    margin: 20px 5px -40px 5px;
    width: 13px;
    display: inline-block;
}

.article_actu{
    border-top: 2px solid black;
    margin-top: 50px;
}
.article_actu span{
    font-size: 18px;
    text-decoration: underline;
}
#inscription_align{
    text-align: center;
}

@media(max-width: 600px){
    .point_gris img{
    margin: 0 5px -40px 5px;
    }
    strong{
        line-height: 20px;
        font-size: 19px;
    }
    section h1{
        margin-top: 26px;
    }
    section h3{
        margin-bottom: 10px;
    }
    #respons1{
        margin-top: 60px;
    }
    section{
        margin-top: 70px;
    }
    .img_text{
        display: none;
    }
    #photo_acceuil{
        width: 80%;
    }
}
@media(max-width: 970px){
    #photo_acceuil{
        float: none;
        display: block;
        margin: 0 auto 20px auto;
    }
    #table_horaire{
        margin: auto;
    }
}
@media(min-width: 1150px){
    section{
        margin: 80px;
    }
}

/*Formulaire*/
#form_contact{
    display: block;
    border: 3px solid #746866;
    border-radius: 6px;
    padding: 6px;
    margin: 25px auto 0px auto;
    width: 230px;
    font-size: 24px;
    text-align: center;
}
#form_contact:hover{
    background-color: #746866;
}
form{
    width: 500px;
    margin: 55px auto 0 auto;
    font-family: 'HPSimplified_Lt';
}
fieldset{
    margin: 5px 0 2px 0;
    background-color: #C5B1AD;
    padding: 10px;
}
fieldset legend{
    font-family: 'HPSimplified_Bdlt';
    font-size: 20px;
    background-color: ;
    border-radius: 6;
    margin: auto;
    padding-bottom: 20px;
}
.form_align{
    text-align: center;
}
.label_perso{
  width: 120px;
  display: inline-block;
  margin: 6px;
}
.dispo_choix{
    display: inline-block;
    margin-top: -16px;
}
input[type="text"], input[type="email"]{
    width: 240px;
    margin-left: 3px;
    padding: 7px;
    border-radius: 3px;
}
input[type=radio], input[type=checkbox]{
    margin-left: 20px;
}
.label_question{
    text-align: center;
}
textarea{
    width: 97%;
    height: 60px;
    font-size: 13px;
}
textarea[placeholder]{
    font-size: 16px;
    padding: 5px;
}
textarea{
    width: 97%;
    height: 60px;
    font-size: 13px;
}
textarea[placeholder]{
    font-size: 16px;
    padding: 5px;
}
input[type="submit"], input[type="reset"]{
    display: inline-block;
    padding: 10px 30px;
    margin: auto 15px;
    font-size: 15px;
    box-shadow: 10px 10px  17px black;
    border-radius: 10px;
}

@media(max-width: 600px){
    form{
        width: 95%;
    }
    input[type="text"], input[type="email"]{
        width: 90%;
    }
    input[type="submit"]{
        margin: auto;
        display: block;
    }
    input[type="reset"]{
        margin: 10px auto auto auto;
        display: block;
    }
}
/*Calendrier*/
.mois_calendrier{
    margin-bottom: 5px;
    text-align: left;
    font-family: 'HPSimplified_Lt';
    color: #7f4c41;
    border-left: solid 3px #d6d5d5;
    font-size: 20px;
    padding-left: 5px;
}

.calendrier1, .calendrier2{
    display: inline-table;
    font-family: HPSimplified_Lt;
    border-collapse: collapse;
    margin-top: 20px;
}

.calendrier2{
    margin-left: 30px;
}

.calendrier1 th, .calendrier2 th{
    background-color: #7f4c41;
    color: white;
    border-top: 2px solid #7f4c41;
    border-right: 2px solid #7f4c41;
    border-bottom: 1px solid #7f4c41;
}

.calendrier1 td, .calendrier2 td{
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-collapse: collapse;
    border: 1px solid #7f4c41;
}

table :empty{
    background-color: #C5B1AD;
    padding-top: 13px;
    padding-bottom: 13px
}

.table_center{
    text-align: center;
    width: 750px;
    margin: auto;
}

#calendrier_frame{
    display: block;
    margin: 80px auto 0 auto;
    border: 0;
}

#fleche_droite{
    position: relative;
    float: right;
    margin-top: 105px;
}

#fleche_gauche{
    position: relative;
    float: left;
    margin-top: 105px;
}
.actu_calendrier{
    display: none;
}
p:hover .actu_calendrier{
    display: block;
    border: 1px inset black;
    margin-top: 10px;
    position: absolute;
    background-color:#AE9C99;
    padding: 3px;
    font-family: 'HPSimplified_Lt';
    color: black;
    font-size: 15px;
    width: 300px; 
}

table p{
    margin: auto;
    cursor: pointer;
    background-color: #AE9C99;
    color: black;
}
@media(max-width: 840px){
    #calendrier_frame{
        display: none;
    }
}

/* Horraires*/
#table_horaire tr, #table_horaire td{
    border: 1px solid black;
}

/*Images Google*/
.logo_google{
    text-align: center;
}

.logo_google img{
    text-align: center;
    margin-top: 20px;
    width: 100px;
    height: 100px;
}
#google_street_logo{
    margin-left: 40px;
}

/*Footer*/
footer{
    height: 70px;
    border-top: solid 15px #7f4c41;
    border-bottom: solid 15px #7f4c41;
    margin-bottom: 30px;
    text-align: center;
}
footer img{
    margin: 15px;
}

@media(max-width: 910px){
    footer{
        margin-top: 30px;
    }
}
/*nav*/

